<div class="row py-2 bg-dark">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-md-inline-block nav-link text-light" href="/">DESKTOP</a>
      <a class="py-2 d-md-inline-block nav-link text-light" href="/">MOBILE</a>
      <a class="py-2 d-md-inline-block nav-link text-light" href="/">FEATURES</a>
      <a class="py-2 d-md-inline-block nav-link text-light" href="/">SAMPLE LAYOUT</a>
      <a class="py-2 d-md-inline-block nav-link text-light" href="/">SUPPORT</a>
    </nav>
</div>
