<div class="col-md-6 my-4">
  <h3>Preview</h3>
  <div class="container border bg-white">
      <div class="row px-3 pt-3">
        <div id="previewLogo" class="rounded px-0">
          <img src="images/rubix-logo-symbol.svg" alt="" width="75" height="75">
        </div>
        <div class="col">
          <h4>Rubix Agency</h4>
          <small>Sponsored</small>
        </div>
        <div class="col p-0">
          <button type="button" name="button" class="btn btn-secondary btn-sm bg-light text-dark float-right"><i class="far fa-thumbs-up"></i> Like page</button>
        </div>
      </div>
      <div class="row">
        <div class="col no-gutters my-2">
          <p class="col m-0 text-capitalize">
            Message goes here
          </p>
        </div>
      </div>
      <div class="row px-0">
        <div class="container-fluid">
          <div id="previewBanner" class="border rounded col-md-2 col-sm-4 px-0" style="max-width: 800px; height: 150px;"></div>
          <!-- <div class="row border-bottom">
            <img src="http://via.placeholder.com/1180x360"  id="previewBanner" class="img-fluid">
          </div> -->
          <div class="row mt-3 mb-2">
            <div class="col no-gutters">
              <strong>Your headline goes here</strong>
            </div>
          </div>
          <div class="row my-2">
            <div class="col no-gutters">
              <p class="m-0">
                Your description goes here
              </p>
            </div>
          </div>
          <div class="row my-4">
            <div class="col no-gutters">
              <small>
                Your caption goes here
              </small>
            </div>
            <div class="col-md-4">
              <button type="button" name="learn-more" class="btn btn-secondary btn-sm bg-light text-dark float-md-right my-2 px-3"><strong>Learn More</strong></button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row my-2">
      <div class="col-md-2">
        <p class="m-0"><i class="far fa-thumbs-up"></i> Like</p>
      </div>
      <div class="col">
        <p class="float-md-right m-0">
          123 Comments 523 Shares
        </p>
      </div>
    </div>
    <hr />
    <div class="row my-2">
      <div class="col px-3">
        <button type="button" class="btn btn-sm my-2 text-dark" name="button"><h6><i class="far fa-thumbs-up"></i> Like</h6></button>
        <button type="button" class="btn btn-sm mx-4 my-2 text-dark" name="button"><h6><i class="far fa-comment"></i> Comment</h6></button>
        <button type="button" class="btn btn-sm my-2 text-dark" name="button"><h6><i class="far fa-share-square"></i> Share</h6></button>
      </div>
    </div>
</div>
