<div class="col-md-2 bg-light border-right">
    <div class="container-fluid my-4">
      <button type="button" name="desktop" class="btn btn-sm btn-dark col my-2">Desktop</button>
      <button type="button" name="desktop" class="btn btn-sm btn-dark col my-2">Mobile</button>
      <button type="button" name="desktop" class="btn btn-sm btn-dark col my-2">Ads</button>
    </div>

</div>
